.game-card {
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 200px;
    background-color: none;
    border: 1px solid goldenrod;
    margin: 10px 10px;
    align-content: center;
}

.game-card:hover {
    background-color: goldenrod;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#square { 
    border: 1px solid black;
}

#circle { 
    
}