.game-card {
    display: flex;
    flex-direction: row;
    height: 125px;
    width: 200px;
    border: 1px solid grey;
    box-shadow: 5px 2.5px grey;
    margin: 10px 10px;
    align-content: center;
}

.game-card:hover {
    background-color: grey;
}